#h1 {
    background-color: sandybrown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 20px ;
    display: block;
    font-family: sans-serif;
}
#body {
    top: 100px;
    display:grid;
    width: 100%;
    font-family: sans-serif;
    
    align-content: center;
}

.body_table {
    display: flex;
    justify-content: center;
}

.table {
    flex-direction: column;
    width: 80%;
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}

.body_content {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.content {
    flex-direction:column;
    width: 80%;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
}

.table, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

.about {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    font-family: sans-serif;
}