

#h1 {
    background-color: sandybrown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
    padding-top: 7px ;
    display: block;
    font-family: sans-serif;
}

.table {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.body-content {
    padding-left: 10%;
    padding-right: 10%;
}

.box_content {
    width: 100%;
    background-color: white;
    padding: 5% 3%;
    padding-right: 3%;
    box-shadow:  0 -1px 10px 0px rgba(0, 0, 0, 125);
    align-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
            
}

.table th {
   text-align: center;
}

.about {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 100;
    left: 0;
    right: 0;
    font-family: sans-serif;
}